@import url('https://fonts.googleapis.com/css2?family=Doto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-600 antialiased;
  font-family: 'Doto', sans-serif;
}

a {
  @apply text-slate-600 hover:text-slate-900 transition-colors;
}
